# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Test artifacts
test/localClusterData

# Ignore dependences downloaded
vendor/

# Build & Test Output
pkg/
coverage/
bin/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*_coverage.html

# Automation
.espnautomation/
.DS_Store
quanta-loader/quanta-loader
