# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# test artifacts
test/testdata/index
examples/java_query/target/classes
.vscode/
*/localClusterData/

.DS_Store

# Ignore dependences downloaded
vendor/

# Build & Test Output
pkg/
coverage/
bin/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*_coverage.html

# Automation
.espnautomation/
