# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

.vscode/
examples/java_query/target/
*/localClusterData/
test/testdata/

# Test binary, build with `go test -c`
*.test

# test artifacts
test/testdata/index
examples/java_query/target/classes
.vscode/

# Ignore dependences downloaded
vendor/

# Build & Test Output
pkg/
coverage/
bin/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*_coverage.html

# Automation
.espnautomation/
.DS_Store
quanta-loader/quanta-loader
